
.welcome,
.inputsection {
  padding-bottom: 50px;
  overflow-x: hidden;
}
.main{
  padding-bottom: 100px;
}
.welcome h1 {
  font-size: 3rem;
  margin-top: 0;
}
.welcome h3 {
  font-size: 1.5rem;
}
.inputsection {
  display: flex;
  align-items: flex-start;
}

.graphicalinput{
  width: 55%;
  position: relative;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
}

.recents{
  padding-bottom: 20px;
}

.inputinfo{
  text-align: left;
  padding: 5%;
  width: 40%;
}
.inputinfo p{
  font-size: 18px;
}

@media (max-width: 640px) {
  
.welcome, .main{
  padding-bottom: 0px;
}
.inputsection {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: max-content;
}
.graphicalinput{
  width: 90%;
}
.graphicalinput .graphicselector{
  flex-direction: column;
}
}