.button{
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 10px;
  height: min-content;
  color: #192a48;
}
.button:hover{
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}