.header {
  padding: 5px 20px;
  background: #3a6ac200;
  backdrop-filter: blur(62px);
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.header,
.profilemenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  cursor: pointer;
  margin: 0;
  font-size: 1.4rem;
  border-radius: 7px;
  padding: 5px 20px;
}

.header h1 span{
  font-weight: 900;
  color: rgb(216, 0, 0);
}
.profilemenu{
  cursor: pointer;
  font-weight: 600;
}
.profilemenu img{
  border-radius: 50px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
