.header {
  padding: 5px 20px;
  background: #3a6ac200;
  backdrop-filter: blur(62px);
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.header,
.profilemenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  cursor: pointer;
  margin: 0;
  font-size: 1.4rem;
  border-radius: 7px;
  padding: 5px 20px;
}
.secondarylinks{
  justify-content: space-evenly;
  width: 40%;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition-duration: .5s;
}
.secondarylinks p {
  border-bottom: 3px solid transparent;
  transition-duration: .5s;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.secondarylinks p:hover{
  border-bottom: 3px solid #fff;
}
.header h1 span{
  font-weight: 900;
  color: rgb(216, 0, 0);
}
.profilemenu{
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.profilemenu img{
  border-radius: 50px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
.profilemenu p{
  border-bottom: none !important;
  margin-bottom: initial;
}
.profilemenu:hover{
  background-color: rgba(255, 255, 255, 0.473);
  transition-duration: .5s;
}

@media (max-width: 720px){

  .secondarylinks{
    flex-wrap: wrap;
    justify-content: left;
    
  }
  .secondarylinks p:nth-child(1),.secondarylinks p:nth-child(2),.secondarylinks p:nth-child(3){
    display: none;
  }
  .secondarylinks .profilemenu p {
    display: initial !important;
  }
}