.page {
  background-image: url("/background.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
}

.pagecontainer {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 640px) {
  .page{
    background-image: url("/background.jpg");
  }
}

/* 



*/